# Backend API URL
VITE_API_URL=https://gbs.westsidecarcare.com.au

# Stripe Configuration
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_51LFrxcS2iZufBckuO1pHtzIeGrvBFgptMVcwjl2kjW0FSZSUYV9mmDtuzM7mOr2eZ7qnwMFiNIaWmFpcQiDEHEtv00aKwiaIOB

# Application Configuration
VITE_APP_NAME=GBS Pay
VITE_APP_URL=http://localhost:5173
